@font-face {
font-family: 'leckerliOne';
src: url('../fonts/leckerliOne.ttf?');
font-weight: normal;
}



body {
	background-image: url('../images/background.png');
	font-family:'leckerliOne';
	font-size:14px;

}

a {
	cursor: pointer;
	text-decoration: none;
}

.home__nav {
	font-size: 18px;
	color:#FFF;
	padding: 20px;
}

.home__description {
	margin: 200px 0px 0px 240px;
	color:#FFF;
	line-height: 30px;
}

span.bold{
	font-weight:900;
}

.home__footerRs{
	display: flex;
	position: absolute;
	bottom: 20px;
	right: 40px;
	color: #fff;
	display: inline-block;
}

.home__footerRs p {
	display: inline-block;
	margin: 0px 10px;
}
